* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 0 auto 0 auto;
}

body {
    margin: 0;
    height: 100%;
    width: 0 auto 0 auto;
    
}

.topnav {
    background-color: rgba(5, 109, 168, 0.938);    
    height: 59px;  
    bottom: 9px;
    overflow: hidden;
    width: 100%;
    
}

.topnav a:hover {
    background-color: rgb(243, 241, 245);
    color: black;   
    text-decoration: none;
}

#left {   
    background-color: rgba(84, 168, 216, 0.938);
    padding: 23px;
    position: relative;
    top: 15.60px;
    left: 0px;
    text-decoration: none;    
    color: black;
    font-size: 17px;
    
}

.right1 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 250px;
    width: 20px; 
    text-decoration: none; 
    color: black;  
    border-radius: 10px; 
     
}

.right2 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 325px;
    width: 20px;
    text-decoration: none; 
    color: black;   
    border-radius: 10px;
}

.right3 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 390px;
    width: 20px; 
    text-decoration: none;
    color: black;
    border-radius: 10px;
    
}

.right4 {        
    position: relative;
    color: black;
    top: 15px;
    left: 460px;
    width: 80px;     
    padding: 5px;
    border-radius: 10px; 
    text-decoration: none; 

}

#contact-form {
    background: rgb(243, 241, 245);
    position: absolute;
    padding: 320px;
    top: 80px;
    
    
        
}

/*search button*/
.form-inline {
    position: relative;
    left: 1000px;
    bottom: 13px;
    padding: 0px;
}

h5 {
    position: absolute;
    top:30px;
    left: 90px;
}


hr {
    position: absolute;
    width: 100%;
   bottom: 590px;
   left: 1px;
}


/*this for contact infor*/
.form-group1 {
    position: absolute;
    top: 150px;
    left: 90px;
    right: 290px;
}



.form-group2 {
    position: absolute;
    bottom: 280px;
    right: 290px;
    left: 90px;

}

.form-group3 {
    position: absolute;
    bottom: 100px;
    left: 90px;
    right: 290px;
    

}

.form-group4 {
    position: absolute;
    top: 230px;
    left: 90px;
    right: 290px;
}

.col-fix {
    position: relative;
    top: 275px;
    width: 50%;      
    left: -230px;
}


.sidebar {
    background: rgb(243, 241, 245);
    text-align: center;
    position: relative;
    float: right;
    padding: 100px;
    top: 20px;    
    right: 75px;
    
}


a {
    position: relative;
    top: 25px;
    padding: 10px;
}


.footer {
    background-color: rgba(13, 99, 148, 0.938);
    color: whitesmoke;    
    text-align: center;
    position: fixed;
    width: 100%;
    left: -0px;
    height: 35px;
    /*top: 142%; */
    bottom: 0;
    margin: 0 auto 0 auto;
    padding: 10px;
    overflow: hidden;
}



