* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


html {
    height: 100%;
    width: 0 auto 0 auto;
}


body {
    margin: 0;
    height: 100% auto;
    width: 0 auto 0 auto;   
}


.topnav {
    background-color: rgba(5, 109, 168, 0.938);    
    height: 59px;  
    bottom: 9px;
    overflow: hidden;
    width: 100%;
    
}


.topnav a:hover {
    background-color: rgb(243, 241, 245);
    color: black;   
    text-decoration: none;
}


#left {   
    background-color: rgba(84, 168, 216, 0.938);
    padding: 23px;
    position: relative;
    top: 15.60px;
    left: 0px;
    text-decoration: none;    
    color: black;
    font-size: 17px;
    
}


.right1 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 250px;
    width: 20px; 
    text-decoration: none; 
    color: black;  
    border-radius: 10px; 
     
}


.right2 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 325px;
    width: 20px;
    text-decoration: none; 
    color: black;   
    border-radius: 10px;
}


.right3 {    
    padding: 10px;
    position: relative;
    top: 15px;
    left: 390px;
    width: 20px; 
    text-decoration: none;
    color: black;
    border-radius: 10px;
    
}


.right4 {        
    position: relative;
    color: black;
    top: 15px;
    left: 460px;
    width: 80px;     
    padding: 5px;
    border-radius: 10px; 
    text-decoration: none; 

}


.container {
    background: rgb(243, 241, 245); 
    position: relative;
    top: -25px; 
    bottom: 20px;
    height: 1430px;
    left: 70px;
    margin: 70px;  
}


h5 {
    position: relative;
    top: 30px;
}


hr {
    position: relative;
    top: 30px;
    
}


.img1 {
    position: relative;
    left: 10px;
    top:60px;

}


.line1 {
    background: rgba(5, 109, 168, 0.938);
    position: absolute;
    font-size: 17px;
    bottom: -50px;
    height: 50px;
    left: 1px;
    right: 760.90px;

}


.img2 {
    position: relative;
    left: -70px;
    top: 65px;
}


.line2 {
    background: rgba(5, 109, 168, 0.938);
    position: absolute;
    font-size: 13px;
    bottom: -350px;
    right: -2px;
    left: 760px;
    height: 100px;;

}


.img3 {
    position: relative;
    top: 100px;
    left: -5px;
}


.line3 {
    background-color: rgba(5, 109, 168, 0.938);    
    position: absolute;
    text-align: center;
    font-size: 15px;
    bottom: -690px;
    height: 40px;
    left:-1px;
    right: 640px;
    
}


.img4 {
    position: relative;
    top: 103px;
    left: -20px;
}



.line4 {
    background: rgba(5, 109, 168, 0.938);
    position: absolute;
    text-align: center;
    font-size: 16px;
    bottom: -680px;
    left: 620px;
    right: -1px;
    height: 30px;
    padding: 3px;
    
    
}


.img5 {
    position: relative;
    top: 190px;
    left: -440px;
}


.line5 {
    background: rgba(5, 109, 168, 0.938);
    position: absolute;
    text-align: center;
    font-size: 15px;
    bottom: -700px;
    left: 470px;
    top: 940px;
    height: 50px;
    padding: 5px;
    right: 240px;
    
    
}


.form-inline {
    position: relative;
    left: 1000px;
    bottom: 13px;
    padding: 0px;
}


.footer {
    background-color: rgba(13, 99, 148, 0.938);
    color: whitesmoke;    
    text-align: center;
    position: fixed;
    width: 100%;
    left: -0px;
    height: 35px;
    /*top: 142%; */
    bottom: 0;
    margin: 0 auto 0 auto;
    padding: 10px;
    overflow: hidden;
}



